body{
    background-image: url(images/454025-minimalism-sword-black-white-anime.jpg);
}
h2{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: #ffff;
}